.button1{
    /* color: red; */
    margin-left: 500px;
    margin-right: 3px;
    width: 150px;
    padding: 3px;
    border-radius: 3px;
    }
    .button2{
        margin-left: 3px;
        width: 150px;
        padding: 3px;
        border-radius: 3px; 
    }
    .heading{
        margin-left: 645px;
        font-size: 70px;
        color: red;
    }
    