.container {
    position: relative;
    text-align: center;
    color: white;
  }
  
  
  .centered {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-left: 190px;
    
  }
  .para{
    margin-top: 40px;
  }
  .ReadMore{
    width: 100px;
    margin-left: 170px;
  }